<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ff.FfMapper">
<select id="Friend_List" parameterType="String" resultType="com.project.sign.UserVO"> 
 select sns_user.* from ( select friend_id from sns_friend where main_id = #{user_id} ) aa, sns_user where friend_id = sns_user.user_id
</select>

<select id="User_List" parameterType="String" resultType="com.project.sign.UserVO">
 select * from sns_user where not user_id = #{user_id}
</select>

<insert id="Friend_Request" parameterType="String">
insert into sns_friendrequest(main_id,friend_id,day) values(#{main_id},#{friend_id},sysdate)
</insert>

<select id="Friend_Request_List" parameterType="String" resultType="com.project.sign.UserVO">
select sns_user.* from (select main_id from sns_friendrequest where friend_id = #{user_id} ) aa, sns_user where main_id = sns_user.user_id
</select>


<select id="Friend_Request_Ing" parameterType="String" resultType="com.project.sign.UserVO">
select sns_user.* from (select friend_id from sns_friendrequest where main_id=#{user_id}) aa, sns_user where friend_id = sns_user.user_id

</select>

<delete id="Friend_Agree" parameterType="String">
delete from sns_friendrequest where main_id = #{friend_id} and friend_id = #{user_id}
</delete>


</mapper>



    
    
    
    