<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.comment.CommentMapper">
<insert id="Comment_Insert" parameterType="com.project.comment.CommentVO">
insert into sns_comment values(sns_comment_seq.nextval,#{bnum},#{writer},#{content},sysdate)
</insert>

<select id="Comment_List" parameterType="Integer" resultType="com.project.comment.CommentVO">
<!-- select aa.*, bb.user_photo, bb.user_name from (select * from sns_comment where bnum = #{bnum} order by day) aa, (select user_photo,user_id,user_name from sns_user ) bb where aa.writer = bb.user_id -->
select * from ( select ROWNUM rnum, aa.*, bb.user_photo, bb.user_name from (select * from sns_comment where bnum = #{bnum} order by cnum asc) aa, (select user_photo,user_id,user_name from sns_user ) bb where aa.writer = bb.user_id) bb where rnum <![CDATA[ >= ]]> #{start} and rnum <![CDATA[ <= ]]> #{end}
</select>


<select id="Comment_Size" parameterType="Integer" resultType="Integer">
select count(*) from sns_comment where bnum = #{bnum}
</select>
</mapper>