<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sign.SignMapper">
<!-- p.338 -->
<insert id="User_SignUp" parameterType="com.project.sign.UserVO">
insert into SNS_USER values(SNS_USER_SEQ.NEXTVAL,#{user_id},#{user_pwd},#{user_photo},#{user_phone},#{user_email},#{user_email},sysdate,0,0,#{user_name})
</insert>


</mapper>
    
    
    
    
    